<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <table>

    <tr>
      <td>id</td>
      <td>model</td>
      <td>series</td>
    </tr>

    <th:block th:each="car : ${cars}">
      <tr>
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
      </tr>
    </th:block>

  </table>



</div>
</body>
</html>